<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Change Password</title>

    <style>
        .container {
            max-width: 550px;
        }
    </style>
</head>

<body>

    <div class="container mt-5">
        <h3>Reset Password</h3>

        {{ if .message }}
        <div class="alert alert-success">
            {{ .message }}
        </div>
        {{ end }}
        <form action="/api/v1/reset_password" method="post">
            <div class="form-group">
                <label for="">Registered Email address</label>
                <input type="email" name="email" value="{{ .password.Email }}" placeholder="example@gmail.com" class="form-control {{ if .required_email }} is-invalid {{ end }}" required>
                <div class="invalid-feedback">
                    {{ .required_email }}
                </div>

                {{ if .invalid_email }}
                <div class="alert alert-danger">
                    {{ .invalid_email }}
                </div>
                {{ end }}
            </div>
            <div class="form-group">
                <label for="">New Password</label>
                <input type="password" name="password" value="{{ .password.Password }}" class="form-control {{ if .required_password }} is-invalid {{ end }} {{ if .invalid }} is-invalid {{ end }}" required>
                <div class="invalid-feedback">
                    {{ .required_password }}
                </div>
                <div class="invalid-feedback">
                    {{ .invalid  }}
                </div>
            </div>
            <div class="form-group">
                <label for="">Confirm Password</label>
                <input type="password" name="confirm_password" value="{{ .password.ConfirmPassword }}" class="form-control {{ if .required_confirm_password }} is-invalid {{ end }} {{  if .invalid  }} is-invalid {{ end }}" required>
                <div class="invalid-feedback">
                    {{ .required_confirm_password }}
                </div>
                <div class="invalid-feedback">
                    {{ .invalid  }}
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">SUBMIT</button>
            </div>
        </form>
        
    </div>

</body>

</html>